/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}




/* NOTES

WHEN MAKING AN ID = TEXT

IN CSS ITS #TEXT






*/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

#top{
	display:flex;
	gap: 60%
}


.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #eee; /* light grey background */
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.icon-box i {
  color: #333;
  font-size: 16px;
}

.logo{
	width: 191px;
	height: 60px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.header {
    color: #fff; /* White text color */
    padding: 1rem 2rem; 
    display: flex; /* Enables Flexbox */
    gap: 20px; 
    text-align: right;
    
}

.menu ul {
    list-style: none; 
    display: flex; 

}

.menu ul li {
    margin-left: 1.5rem;
    /* [disabled]padding-top: 12px; */
}

.menu ul li:first-child {
    margin-: 0; /* No margin for the first item */

	
}

.menu ul li a {
    text-color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    transition: color black 0.3s ease; 
	padding-top: 10px;
border-radius: 5px;

}

.menu ul li a:hover {
    color: white;
    background-color: #0065FC;
    font-size: 18px;
    text-align: center;
}

/* Search works   */

#search {
  display: flex;
  align-items: center;
  gap: 0px; /* optional spacing */
}

#search input[type="text"] {
  height: 38px;
  font-size: 16px;
	font-weight:bold;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 50px;
}

#search input[type="image"] {
  height: 38px;
}
/* /Search  */




/* Nav 2 Buttons  */

#nav2-container{
	display: flex;
		padding-bottom: 4px;
	padding-left: 19px;
	padding-top: 4px;
	padding-right: 19px;
}

.nav2 {
	display: flex;
	height: 50px;
	width:151px;
	border: 1px solid #D9D9D9;
	border-radius: 25px;
	font-weight:bold;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease; /* smooth effect */
	gap: 10px;

}

.nav2:hover {
	background-color: #DEEBFF;          /* Had chatgpt find a typo, backround dont work. You may laugh now */
	opacity: 1;

}

.body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
	justify-content: center;
}

.section-title {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card .card2 {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card .card2 img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
	width: 100%;
    display: flex;
    gap: 20px;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
	justify-content: space-between;
}


/****** Accommodation ***********/
.accommodation {
    width: 66%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
}

.card2{
	display: flex;
	flex-direction: column;
    width: 250px;
    height: 207px;
	border-radius-top-left: 20px;
	border-radius-top-right: 20px; 
    border: 5px;
	box-sizing: border-box;
}

.popular-cards2{
	display:flex;
	
gap:20px;
}

.popular-cards2 .card-content2 {
    width: 250px;
	height: 207px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
	background-color: white;
	 border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	
}

.popular-cards2 img {
    width: 250px;
    height: 122px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	border: 5px solid white;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
	background-color: white;
	border-radius: 20px;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}


/****** To do in Marseille ***********/

.todo-container{
	width: "100%";
	height: "380px";

	
}

.todo{
width: 25%;	
display: flex;	
}



/****** footer ***********/

.footercontainer {
	background-color: var(--main-bg-color);
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.foot1 {
	width: 33%;
	text-decoration: none;
}

.foot1 .foot2 .foot3 a {
	
	text-decoration: none;
}

.foot2{
	width: 33%;
	
}
.foot3{
	width: 33%;
	
}
